/* CSS Document */

#messageWrapper {
	margin: 0 auto;
	width: 80%;
}

#sendWrapper {
	width: 45%;
	float: left;
}

#historyWrapper {
	width: 45%;
	float: right;
}

#messageBox {
	border: 4px solid #666;
	background-color: #FFF;
	height: 300px;
	width: 100%;
	overflow: scroll;
}

#sendBox {
	margin: 0 auto;
}

#chatHistory {
	width: 100%;
	height: 300px;
	border: 4px solid #09F;
	overflow: scroll;
}

#history {
	float: right;
}

.container #chatError p{
	color: #F00;
}